:root {
  --blue: #14213d;
  --grey: #e5e5e5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Work Sans", sans-serif;
}

body {
  background-color: var(--grey);
}

.header {
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98.5%;
  min-width: 32rem;
  height: 11vh;
  margin: 0.55vh auto 0rem auto;
  background-color: var(--blue);
}

.title {
  color: var(--grey);
  margin-left: 3.6rem;
  font-size:3rem;
}

.themeButton{
  margin-right: 3.6rem;
}
.themeButton > a {
  font-size: 2.25rem;
  color: var(--grey);
}

.themeButton > a:hover{
  -webkit-text-stroke:var(--grey) 1.5px;
}


.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  min-width: 32rem;
  width: 100%;
}
.todo-section{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding-top: 2rem;
}
.todos {
  width: 100%;
  height: auto;
}

.form {
  display: grid;
  row-gap: 2rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
  min-width: 28rem;
  width: 70vw;
  max-width: 56.8rem;
}

.todo-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  min-width: 28rem;
  max-width: 56.8rem;
  min-height: 11vh;
  height: auto;
  background-color: var(--grey);
  border: var(--blue) 3px solid;
  border-radius: 12px;
  margin: 0 auto;
  padding: 1rem;
}

.todo-text {
  font-family: 'Work Sans';
  color: var(--blue);
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-weight: bold;
  width: 100%;
  word-wrap: break-word;
  background-color: var(--grey);
  border: none;
  outline: none;
}

.button {
  color: var(--blue);
  background: none;
  border: none;
  width: 5vh;
  height: 5vh;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.form-input {
  background: none;
  border: var(--blue) solid 3px;
  color: var(--blue);
  border-radius: 4px;
  font-weight: bold;
  font-family: inherit;
  outline: none;
  height:11vh;
  font-family: 'Work Sans';
}

.form-input::placeholder {
  color: var(--blue);
  font-weight: bold;
}

.todo-input {
  width: 100%;
  padding: 2rem;
}

.button-input {
  padding: 2rem;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

.button-input:hover {
  background: var(--blue);
  color: var(--grey);
}

.buttons-div {
  display: flex;
  justify-content: space-between;
}
